.homeContainer {
    height: 100vh;
    text-align: center;
    justify-content: center;

    .headerContainer {
        margin-top: 1.5em;
        font-weight: 600;
        font-size: $fontxxxlarge;
    }
}
