.form {
	&.inline {
		flex-direction: row;
		display: flex;
		align-items: center;

		.formItem {
			margin: .5em 18px;
		}
	}

	&.vertical {
		flex-direction: column;
		display: flex;

		.formItem {
			margin: 18px 0 0;

			&:last-of-type {
				margin-bottom: 18px;
			}
		}
	}
}