.input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 1em;
    font-size: $fontxlarge;
    line-height: 1.5;
    background-image: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    color: rgba($active-input-text, 0.85);
    background-color: #fff;
    border: 1px solid transparent;

    &.textarea {
        resize: none;
        min-height: 64px;
    }

    &.bordered {
        border: 1px solid #e9e9e9;
    }

    &:hover.bordered:not(.disabled):not(.error),
    &:focus.bordered:not(.disabled):not(.error) {
        border-color: rgba($input-hover-color, 0.85);
    }

    &.error {
        border: 1px solid rgba($main-red, 0.85);
        background-color: rgba($main-red, 0.45);

        &::placeholder {
            color: $main-red;
        }
    }

    &.disabled {
        background-color: $disabled-background;
        color: $disabled-text;
        pointer-events: none;
    }

    &::placeholder {
        color: $placeholder-color;
    }

    &.icon {
        padding-left: 2em;
    }
}

.iconContainer {
    position: relative;

    > i {
        top: 50%;
        left: 5%;
        position: absolute;
        pointer-events: none;
        user-select: none;
        display: inline-block;
        line-height: 1;

        svg path {
            fill: #ccc;
        }
    }
}
