@keyframes loader {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.isLoading {
	color: transparent;
	visibility: hidden;
	pointer-events: none !important;

	&::before {
		visibility: visible;
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		margin: -.64285714em 0 0 -.64285714em;
		width: 1.28571429em;
		height: 1.28571429em;
		border-radius: 500rem;
		border: .2em solid rgba(0, 0, 0, .15);
	}

	&::after {
		visibility: visible;
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		margin: -.64285714em 0 0 -.64285714em;
		width: 1.28571429em;
		height: 1.28571429em;
		-webkit-animation: loader .8s linear;
		animation: loader .8s linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		border-radius: 500rem;
		border-color: #fff transparent transparent;
		border-style: solid;
		border-width: .2em;
		-webkit-box-shadow: 0 0 0 1px transparent;
		box-shadow: 0 0 0 1px transparent;
	}
}
