$icon-hover-color: #5d5aff;

$active-input-text: #262626;
$input-hover-color: #3b86ff;

$placeholder-color: #d8d8d8;

$button-primary-hover-color: #3b86ff;
$button-standard-hover-color: #e6f7ff;

$text-black: #262626;

$main-red: #f44336;
$main-blue: #5d5aff;

$disabled-background: #efefef;
$disabled-text: #a2a2a2;

// global
$fontxxsmall: 8px;
$fontxsmall: 9px;
$fontsmall: 10px;
$fontmedium: 11px;
$fontlarge: 12px;
$fontxlarge: 14px;
$fontxxlarge: 20px;
$fontxxxlarge: 32px;
